<h1>Shop</h1>

<div>
  <div>name : {{shop.name}}</div>
   <div>address : {{shop.address}}</div>
  <div>zw-type : {{shop.zw-type}}</div>
  <div>zw-precise-type : {{shop.zw-precise-type}}</div>
  <div>description : {{shop.description}}</div>
 <div>phone : {{shop.phone}}</div>
 <div>mail : {{shop.mail}}</div>
 <div>facebook : {{shop.facebook}}</div>
 <div>hours : {{shop.hours}}</div>
  <div>lat : {{shop.lat}}</div>
  <div>lng : {{sho.lng}}</div>

  <div>
    <img src="{{shop.picture}}" />
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/shops/create" role="button">
    Add a shop
  </a>
  <a class="btn btn-secondary" href="/shops/update/{{shop.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/shops/delete/{{shop.id}}" role="button">
    Delete
  </a>
</div>